

      <form>
        <div class="modal-body">

            <div class="row" class="col-md-5">
              <label for="content">Content</label>
                <input type="text"  id="Content" class="form-control" [(ngModel)]="myInputObject.content" [ngModelOptions]="{standalone : true}" />
                <button  type="submit" class="btn btn-primary mr-2" (click)="update(myInputObject)">Modifier</button>
            </div>
            
        </div>
        
    </form>









  
 
    
  